<div style="display: flex; flex-direction: column; padding: 1rem;">
    <h1>If you are Referee Director, <a routerLink="/referee-admin">click here.</a> to login.</h1>
    <h3>Login to see the Referee Director dashboard and all the applications of Referees.</h3>
</div>


<div style="display: flex; flex-direction: column; padding: 1rem;">
    <h1>If you are Referee <a routerLink="/referee-dashboard">click here</a> to check the schedules</h1>
    <h3>Login to see the Referee schedules.</h3>
</div>
