<div class="task">
    <a routerLink="/login">Login</a>
    <a routerLink="/signup">Enroll</a>
    <a href="#">Schedule</a>
    <a href="#">Info</a>
</div>
    <div style="padding: 0 2rem">

    <table >
        <tr>
    <td>
    
    <div class="half">
    
    <h2>GENERAL APPLICATION OF REFEREES AND GAME PLAY</h2>
        <h3>The assignment of licensed referees to games are subject to their availability, conflicts, experience, age,
             license grade and other factors, and are assigned by the MTsc Referee Assignor. 
    MTsc U assigned licensed referees are utilized to referee U6 recreational through U19 competitive games, limited by
     the availability of licensed referees. 
    MTsc U licensed referees are paid based on the Licensed Referee Pay Schedule in effect at the time. 
    In the event of a missing line referee, an adult volunteer may act as referee to determine out-of-bound calls ONLY 
    for a designated touch-line on any U11-U19 game as determined at the discretion of the licensed center referee.
     In a competitive match, both head coaches must consent and waive their rights to contest the game results relative
      to this approach beforehand. 
    In the event of a non-refereed U6-U8 game due to the lack of assignment of a licensed referee by MTsc U, the 
    coaches of both teams are to act as pseudo referees for their defending half of the game field.
    </h3>

    </div>
    </td>
    <td>
    
    <div class="half">
    <img src="./assets/refereeimage.jpg" width="500" height="500">
    </div>
    </td>
    </tr>
    </table>
            
</div>