<br><br>
<div [style]="{'margin': '3em'}">
<div style="display: flex; flex-direction: row;justify-content: space-around;">
<p-card header="Adidas" [style]="{width: '360px'}" styleClass="p-card-shadow">
  <ng-template pTemplate="header">
      <img src="./assets/adidas.jpg" [style]="{height: '250px'}">
  </ng-template>
</p-card>

<p-card header="Dayton Marriott HEADQUARTER  HOTEL" [style]="{width: '360px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
        <img src="./assets/marriott.jpg" [style]="{height: '250px'}">
    </ng-template>
  </p-card>

  <p-card header="Kettering Sports Medicine Center" [style]="{width: '360px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
        <img src="./assets/kettering.jpg" [style]="{height: '250px'}">
    </ng-template>
  </p-card>

  <p-card header="Caseys General Store" [style]="{width: '360px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
        <img src="./assets/caseys.jpg" [style]="{height: '250px'}">
    </ng-template>
  </p-card>

  <p-card header="Columbus Crew" [style]="{width: '360px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
        <img src="./assets/columbus.jpeg" [style]="{height: '250px'}">
    </ng-template>
  </p-card>

  <p-card header="Dick's Sporting Goods" [style]="{width: '360px'}" styleClass="p-card-shadow">
  <ng-template pTemplate="header">
      <img src="./assets/dicks.jpg" [style]="{height: '250px'}">
  </ng-template>
</p-card>

<p-card header="Frickers" [style]="{width: '360px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
        <img src="./assets/frickers.jpg" [style]="{height: '250px'}">
    </ng-template>
  </p-card>

  <p-card header="Chick-Fil-A" [style]="{width: '360px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
        <img src="./assets/chickfila.jpg" [style]="{height: '250px'}">
    </ng-template>
  </p-card>
</div>
</div>
