<div style="padding: 2rem; display: flex; flex-direction: column;">
    <h1>Finding Hotels for teams now made easy.</h1>
    <div>
        Your team is required to book hotel rooms using the hotels only listed below to participate in the Soccer Club Tournaments. 
        Teams not staying at one or more of these properties, will not be considered for acceptance to the tournament.

        While you are free to select any hotel property you wish, you will be asked to VERIFY your rooming arrangements upon acceptance
        AND when you register your team on before friday night. 
        The Arizona Soccer Club organization assumes no liability by its endorsement of a particular hotel.
    </div>
    <div style="margin: 2rem 0 0 0;">
        <p-button label="Book Hotels" (click)="bookHotel()" ></p-button>
    </div>
    <h3>
        When you click on the Hotel Booking button above, you will be redirected to a third-party hotel booking service and will
        no longer be on the official soccer club web site. 
        Any transactions conducted on that site are between you and the hotel booking service.
    </h3>
    
</div>