

<span class="p-float-label">
    <input id="float-input" type="text" pInputText> 
    <label for="float-input">Name</label>
</span>
<span class="p-float-label">
    <input id="float-input" type="text" pInputText> 
    <label for="float-input">Age</label>
</span>
<span class="p-float-label">
    <input id="float-input" type="text" pInputText> 
    <label for="float-input">Accredition</label>
</span>
<span class="p-float-label">
    <input id="float-input" type="text" pInputText> 
    <label for="float-input">Email ID</label>
</span>
<span class="p-float-label">
    <input id="float-input" type="text" pInputText> 
    <label for="float-input">Nationality</label>
</span>
<span class="p-float-label">
    <input id="float-input" type="text" pInputText> 
    <label for="float-input">Experience</label>
</span>