<div style="padding: 2rem;">
    <p-tabView>
        <p-tabPanel header="Soccer Field #1 - Soccer Field #6">
            <div [style]="{'margin': '3em'}">
                <div style="display: flex; flex-direction: row;justify-content: space-around;">
                <p-card header="Fields Maps" [style]="{width: '750px'}" styleClass="p-card-shadow">
                    <ng-template pTemplate="header">
                        <img src="./assets/fields1.png" [style]="{height: '660px'}">
                    </ng-template>
                    Maps for Soccer Field #1 - Soccer Field #6
                  </p-card>
                  <p-card header="Fields Location" [style]="{width: '750px'}" styleClass="p-card-shadow">
                    <ng-template pTemplate="header">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3329.6815316918123!2d-111.67219818424468!3d33.4315462807794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872bafff125b3cf9%3A0x3e202e236af188cf!2sRed%20Mountain%20Soccer%20Complex!5e0!3m2!1sen!2sus!4v1638249952473!5m2!1sen!2sus" width="750" height="660" style="border:0;" allowfullscreen="" loading="lazy"></iframe>                    
                    </ng-template>
                    Location for Soccer Field #1 - Soccer Field #6 on Google Maps
                  </p-card>
                </div>
                <div style="margin-left: 600px; padding-top: 28px;">
                    <h2>Fields Link: https://www.mesaparks.com/parks-facilities/sports-facilities/red-mountain-soccer-complex</h2>
                    </div>
                </div>
        </p-tabPanel>
        

    </p-tabView>

    </div>