<div class="sponsor">
    <div class="header-block">
      <h2 class="title">Sponsors List</h2>
      <a routerLink="/become-sponsor" class="become-sponsor"  >Become Sponsor</a>
    </div>
    <table class="sponsor-table">
        <thead>
          <tr>
            <th *ngFor = "let column of headers">
              {{column}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr 
          *ngFor="let tutorial of sponsors; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveTutorial(tutorial, i)">
            <td>
              {{tutorial.name}}
            </td>
            <td>
              {{tutorial.representative_name}}
            </td>
            <td>
              {{tutorial.sponsoring_amount}}
            </td>
            <td>
              {{tutorial.email_id}}
            </td>
            <td>
              {{tutorial.acceptance_status}}
            </td>
          </tr>
        </tbody>
      </table>
</div>