.sponsor {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sponsor-table {
    min-width: 60%;
}

.sponsor-table td, .sponsor-table th {
    border: 1px solid #ddd;
    padding: 8px;
    color: black;
}

td {
    cursor: pointer;
}

.sponsor-table tr:nth-child(even){background-color: #f2f2f2;}

.header-block {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.sponsor-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #EB453D;
    color: black;
}

.become-sponsor {
    text-decoration: none;
    position: absolute;
    padding: 10px 15px;
    border-radius: 10px;
    top: 20%;
    right: 20%;
    background: #EB453D;
    color: white;
    cursor: pointer;
}