.sponsor-details {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.details {
    font-size: 18px;
    min-width: 200px;
}