<p style="margin: 5% 10%;">Below are answers to questions prospective members often have. You should also note the other information on the website.<br>
    Q1. What are US Club Soccer’s rights as a member of the U.S. Soccer Federation?
    <br>Ans:As a National Association member of U.S. Soccer, US Club Soccer registers players and staff, provides insurance coverage, provides and sanctions competitions and events as well as a variety of other programming for its members.
    <br>Q2. What are the minimum requirements for a US Club Soccer member?
    <br>Ans: Please visit the Join US Club Soccer page (https://www.usclubsoccer.org/join).
    <br>Q3. Can I still register my team with other U.S. Soccer organization members?
    <br>Ans: Clubs have a right to register teams with multiple organizations. U.S. Soccer Bylaw 603(2) states in part: “An Organization Member (other than a Professional League) shall not discriminate against the participation of players, teams, coaches, or clubs on the basis of that player, coach, team, or club’s membership in, or affiliation with, another organization.”
    <br>Q4. What is the 100% rule?
    <br>Ans: The so-called 100% rule is a U.S. Soccer requirement that all players in a club or league be registered with the appropriate U.S. Soccer member. It cannot be interpreted to mean that if some teams want to play in state cup, for example, that all the club’s teams have to register with the state association whether they play or not, as long as they’re registered with another U.S. Soccer member. A U.S. Soccer member can only require that the players that are participating in its programs register with them, as long as the other players are registered with the U.S Soccer via another member.
    <br>U.S. Soccer further clarified the “100% rule” at its Nov. 12, 2005, Board Meeting and unanimously adopted the new USSF Policy 212.
    <br>Q5. If a team is registered with multiple organizations, whose rules and insurance coverage applies?
    <br>Ans: The rules of whichever organization’s registration/passcards are being used in a given competition.
    <br>Q6. Can I travel to non-US Club Soccer-sanctioned events as a US Club Soccer member?
    <br>Ans: You can attend any unrestricted event; that is, an event that is not limited to the members of an organization other than US Club Soccer.
    <br>Q7. Is travel permission required?
    <br>Ans: State boundaries make no difference in participating with US Club Soccer. If you are traveling as a US Club Soccer team to any soccer event in the country sanctioned by a U.S. Soccer-affiliated organization, no travel permission is required, and US Club Soccer’s insurance applies. International travel requires U.S. Soccer approval.
    <br>Q8. What are the requirements for US Club Soccer sanctioning a league?
    <br>Ans: Requirements are minimal: at least four teams and a commitment to allow players to “play up.” Competition, schedule and roster rules are submitted for approval. There is no additional league sanctioning fee, and US Club Soccer insurance applies.
    <br>Q9. How are you approaching technical matters?
    <br>Ans: Technical and player development matters are the responsibility of the US Club Soccer Board of Directors, which consists of experienced club coaches.
    <br>Q10. What is the US Club Soccer position on small-sided games?
    <br>Ans: We believe that small-sided games are important in the training of young players and encourage all programs to incorporate small-sided rules. In Aug. 2015, U.S. Soccer released specific mandates related to small-sided games (https://www.usclubsoccer.org/news_article/show/989533), which included changes to goal and field sizes. US Club Soccer members are required to follow these mandates.
    <br>Q11. How does the club registration process work?
    <br>Ans: Clubs must register using the US Club Soccer online registration platform: National Registration System, powered by GotSoccer. See more information on how to become a member.
    <br>Q12. How can I find more information on player registration?
    <br>Ans: See more information, including extensive tips within the Members Area (https://www.usclubsoccer.org/members-area).
    <br>Q13. Do coaches and administrators need to register and obtain cards?
    <br>Ans: Yes. This is required by U.S. Soccer and our insurance carrier. All staff members who are required to be registered and are coaching players ages U-20 and below must complete the staff registration process (https://www.usclubsoccer.org/staff-registration). This includes all coaches, assistant coaches and team managers assigned to a team.   
</p>
