<div style="display: flex;width: 100%; flex-direction: column;">
  <div style="display: flex; width: 100%;padding: 0.5rem;background-color: red;">
    <img src="./assets/logo.png" width="200" height="200"/>
    <div style="left:200px;position: absolute; 
    display: flex;width: calc(100% - 200px); justify-content: space-between;">
          <div style="font-size: 110px;font-weight: bolder;padding-left: 1rem;color: #08162a;"> SOCCER CLUB</div>
          <div>
             <img src="./assets/logo1.jpg" width="100" height="100" />
          </div>
    </div>
    <div style="left:200px;top:150px;position: absolute; background-color: #08162a;
    display: flex;width: calc(100% - 200px);">
      <p-menubar [model]="items" ></p-menubar>
    </div>
  </div>
  <div style="height:100%;">
    <router-outlet></router-outlet>
  </div>
</div>

