<div style="display: flex;flex-direction: column;padding: 2rem;">
    <h1>Application</h1>
    <h2>Do you want to check on the status of your team?</h2>
    <h4>Log in using your assigned team Id number (Example: WSC123456789) that was assigned to you when you registered.
        Go to the login box under the Coaches tab in the left rail.</h4>
    <h2>How do I place my team in one division or the other?</h2>
    <h4>
        Ultimately, your team will be placed in the division to be the most competitive with other teams that apply. However, you may help the selection committee by indicating your choice on the application form. GOLD is the UPPER Division 
        and RED is the MIDDLE Division and WHITE is LOWER Division. We reserve the right to combine levels if Necessary.
    </h4>
    <h2>When do I send travel permit?</h2>
    <h4>
        This is only required when/if your team is accepted. Travel permits are REQUIRED for all teams who are registered 
        outside Ohio South(OSYSA) except for US Club Soccer that does not require travel permits.
        You should include it in the registration email you submit.
    </h4>
    <h1>Bracketing/Team Selection</h1>
    <h2>Does the Classic have 2 or 3 divisions per age group?</h2>
    <h4>
        Depending on the number of teams in any given age group applying to the adidas Warrior Soccer Classic, 
        some age groups may ONLY consist of a Gold, Red White, etc. divisions with a White division if necessary. 
        The Gold Division will be the upper division, Red is the middle division and White is the lower division. 
        However, not all age groups will have 2 or more levels of play.
    </h4>
    <h2>
        Where and when will the schedules be posted?
    </h2>
    <h4>
        The schedule may be posted as early as the the first week in May. If you are listed as the contact for the team, 
        you will be sent an email when the schedules are posted. Anyone can access the game schedules, scores and photos by
         clicking on the GAMES/SCORES tab in the MENU button across the top of any page OR by selecting your
         division in the drop down menu along the left side of any page on the site. You may also search by Club.
    </h4>
    <h1>Format</h1>
    <h2>
        Do U8, U9 and U10 play 7v7?
    </h2>
    <h4>
        Yes. Under 8 & U9 & U10 play 7v7. Under 10 may also elect to play 9v9.
    </h4>
    <h1>
        General
    </h1>
    <h2>
        Can US Youth Soccer players and coaches participate as a guest player or coach on a US Club team and vice versa?
    </h2>
    <h4>
        No. See US Youth Soccer Travel Procedure 7.12.1.
    </h4>
    <h2>
        How much does the tournament cost?
    </h2>
    <h4>
        The fees are posted on the front page, in the Facts At A Glance, to the left of the photo.
         Also posted there are the dates, location, deadline, etc.
    </h4>
    <h2>
        When I apply online and I use Pay Pal for payment do I have to mail in a copy of my application?
    </h2>
    <h4>
        No. When you follow this procedure, the tournament will automatically receive a copy of your application and payment.
    </h4>
    <h2>
        Where can I find the Forms page?
    </h2>
    <h4>
        Once accepted
    </h4>
    <h2>
        When are my Guest Players due?
    </h2>
    <h4>
        You may bring your Tournament Guest Players paperwork to Registration on Friday before the tournament, unless you have pre-registered by mail. Those guest players must be done with the pre-registration submission. 
        ALL GUEST PLAYERS MUST BE VALIDATED BY THEIR HOME STATE ASSOCIATION IF REQUIRED OR THEY WILL BE INELIGIBLE TO PLAY.
    </h4>
</div>




