<div style="padding: 2rem;">
    <p-tabView>
        <p-tabPanel header="Teams for Approval">
          <div style="padding: 1rem; display: flex; flex-direction: column;">
            <div style="display:flex;flex-direction: row; flex: 1;">
                <div style="flex: 0.7">
                    <p-panel header="blues-07" [toggleable]="true" collapsed="true">
                        The United States men's national soccer team (USMNT) represents the United States in men's international soccer competitions. The team is controlled by the United States Soccer Federation and is a member of FIFA and CONCACAF.

                        The team has appeared in ten FIFA World Cups, including the first in 1930, where they reached the semi-finals. The U.S. participated in the 1934 and 1950 World Cups, winning 1–0 against England in the latter. After 1950, the U.S. did not qualify for the World Cup until 1990. The U.S. qualified as host of the 1994 World Cup, where they lost to Brazil in the round of sixteen. They qualified for five more consecutive World Cups after 1994 (for a total of seven straight appearances, a feat shared with only seven other nations),[9] becoming one of the tournament's regular competitors and often advancing to the knockout stage. The U.S. reached the quarter-finals of the 2002 World Cup, where they controversially lost to Germany. In the 2009 Confederations Cup, they eliminated top-ranked Spain in the semi-finals
                        before losing to Brazil in the final, the team's only appearance in the final of a major intercontinental tournament.
                    </p-panel>
                </div>
                <div style="flex: 0.1">

                </div>
                <div style="flex: 0.2">
                    <button pButton type="button" label="Approve" class="p-button-success"></button>
                    <button pButton type="button" label="Reject" class="p-button-danger"></button>
                </div>
            </div>
            <div style="display:flex;flex-direction: row; flex: 1;margin-top: 2rem;">
                <div style="flex: 0.7">
                    <p-panel header="black-01" [toggleable]="true" collapsed="true">
                        The United States men's national soccer team (USMNT) represents the United States in men's international soccer competitions. The team is controlled by the United States Soccer Federation and is a member of FIFA and CONCACAF.

                        The team has appeared in ten FIFA World Cups, including the first in 1930, where they reached the semi-finals. The U.S. participated in the 1934 and 1950 World Cups, winning 1–0 against England in the latter. After 1950, the U.S. did not qualify for the World Cup until 1990. The U.S. qualified as host of the 1994 World Cup, where they lost to Brazil in the round of sixteen. They qualified for five more consecutive World Cups after 1994 (for a total of seven straight appearances, a feat shared with only seven other nations),[9] becoming one of the tournament's regular competitors and often advancing to the knockout stage. The U.S. reached the quarter-finals of the 2002 World Cup, where they controversially lost to Germany. In the 2009 Confederations Cup, they eliminated top-ranked Spain in the semi-finals
                        before losing to Brazil in the final, the team's only appearance in the final of a major intercontinental tournament.
                    </p-panel>
                </div>
                <div style="flex: 0.1">

                </div>
                <div style="flex: 0.2">
                    <button pButton type="button" label="Approve" class="p-button-success"></button>
                    <button pButton type="button" label="Reject" class="p-button-danger"></button>
                </div>
            </div>
            <div style="display:flex;flex-direction: row; flex: 1;margin-top: 2rem;">
                <div style="flex: 0.7">
                    <p-panel header="mensArizona" [toggleable]="true" collapsed="true">
                        The United States men's national soccer team (USMNT) represents the United States in men's international soccer competitions. The team is controlled by the United States Soccer Federation and is a member of FIFA and CONCACAF.

                        The team has appeared in ten FIFA World Cups, including the first in 1930, where they reached the semi-finals. The U.S. participated in the 1934 and 1950 World Cups, winning 1–0 against England in the latter. After 1950, the U.S. did not qualify for the World Cup until 1990. The U.S. qualified as host of the 1994 World Cup, where they lost to Brazil in the round of sixteen. They qualified for five more consecutive World Cups after 1994 (for a total of seven straight appearances, a feat shared with only seven other nations),[9] becoming one of the tournament's regular competitors and often advancing to the knockout stage. The U.S. reached the quarter-finals of the 2002 World Cup, where they controversially lost to Germany. In the 2009 Confederations Cup, they eliminated top-ranked Spain in the semi-finals
                        before losing to Brazil in the final, the team's only appearance in the final of a major intercontinental tournament.
                    </p-panel>
                </div>
                <div style="flex: 0.1">

                </div>
                <div style="flex: 0.2">
                    <button pButton type="button" label="Approve" class="p-button-success"></button>
                    <button pButton type="button" label="Reject" class="p-button-danger"></button>
                </div>
            </div>
            <div style="display:flex;flex-direction: row; flex: 1;margin-top: 2rem;">
                <div style="flex: 0.7">
                    <p-panel header="yellow-01" [toggleable]="true" collapsed="true">
                        The United States men's national soccer team (USMNT) represents the United States in men's international soccer competitions. The team is controlled by the United States Soccer Federation and is a member of FIFA and CONCACAF.

                        The team has appeared in ten FIFA World Cups, including the first in 1930, where they reached the semi-finals. The U.S. participated in the 1934 and 1950 World Cups, winning 1–0 against England in the latter. After 1950, the U.S. did not qualify for the World Cup until 1990. The U.S. qualified as host of the 1994 World Cup, where they lost to Brazil in the round of sixteen. They qualified for five more consecutive World Cups after 1994 (for a total of seven straight appearances, a feat shared with only seven other nations),[9] becoming one of the tournament's regular competitors and often advancing to the knockout stage. The U.S. reached the quarter-finals of the 2002 World Cup, where they controversially lost to Germany. In the 2009 Confederations Cup, they eliminated top-ranked Spain in the semi-finals
                        before losing to Brazil in the final, the team's only appearance in the final of a major intercontinental tournament.
                    </p-panel>
                </div>
                <div style="flex: 0.1">

                </div>
                <div style="flex: 0.2">
                    <button pButton type="button" label="Approve" class="p-button-success"></button>
                    <button pButton type="button" label="Reject" class="p-button-danger"></button>
                </div>
            </div>

            <div style="display:flex;flex-direction: row; flex: 1;margin-top: 2rem;">
                <div style="flex: 0.7">
                    <p-panel header="reds-07" [toggleable]="true" collapsed="true">
                        The United States men's national soccer team (USMNT) represents the United States in men's international soccer competitions. The team is controlled by the United States Soccer Federation and is a member of FIFA and CONCACAF.

                        The team has appeared in ten FIFA World Cups, including the first in 1930, where they reached the semi-finals. The U.S. participated in the 1934 and 1950 World Cups, winning 1–0 against England in the latter. After 1950, the U.S. did not qualify for the World Cup until 1990. The U.S. qualified as host of the 1994 World Cup, where they lost to Brazil in the round of sixteen. They qualified for five more consecutive World Cups after 1994 (for a total of seven straight appearances, a feat shared with only seven other nations),[9] becoming one of the tournament's regular competitors and often advancing to the knockout stage. The U.S. reached the quarter-finals of the 2002 World Cup, where they controversially lost to Germany. In the 2009 Confederations Cup, they eliminated top-ranked Spain in the semi-finals
                        before losing to Brazil in the final, the team's only appearance in the final of a major intercontinental tournament.
                    </p-panel>
                </div>
                <div style="flex: 0.1">

                </div>
                <div style="flex: 0.2">
                    <button pButton type="button" label="Approve" class="p-button-success"></button>
                    <button pButton type="button" label="Reject" class="p-button-danger"></button>
                </div>
            </div>
            <div style="display:flex;flex-direction: row; flex: 1;margin-top: 2rem;">
                <div style="flex: 0.7">
                    <p-panel header="green-07" [toggleable]="true" collapsed="true">
                        The United States men's national soccer team (USMNT) represents the United States in men's international soccer competitions. The team is controlled by the United States Soccer Federation and is a member of FIFA and CONCACAF.

                        The team has appeared in ten FIFA World Cups, including the first in 1930, where they reached the semi-finals. The U.S. participated in the 1934 and 1950 World Cups, winning 1–0 against England in the latter. After 1950, the U.S. did not qualify for the World Cup until 1990. The U.S. qualified as host of the 1994 World Cup, where they lost to Brazil in the round of sixteen. They qualified for five more consecutive World Cups after 1994 (for a total of seven straight appearances, a feat shared with only seven other nations),[9] becoming one of the tournament's regular competitors and often advancing to the knockout stage. The U.S. reached the quarter-finals of the 2002 World Cup, where they controversially lost to Germany. In the 2009 Confederations Cup, they eliminated top-ranked Spain in the semi-finals
                        before losing to Brazil in the final, the team's only appearance in the final of a major intercontinental tournament.
                    </p-panel>
                </div>
                <div style="flex: 0.1">

                </div>
                <div style="flex: 0.2">
                    <button pButton type="button" label="Approve" class="p-button-success"></button>
                    <button pButton type="button" label="Reject" class="p-button-danger"></button>
                </div>
            </div>
            <div style="display:flex;flex-direction: row; flex: 1;margin-top: 2rem;">
                <div style="flex: 0.7">
                    <p-panel header="blues-01" [toggleable]="true" collapsed="true">
                        The United States men's national soccer team (USMNT) represents the United States in men's international soccer competitions. The team is controlled by the United States Soccer Federation and is a member of FIFA and CONCACAF.

                        The team has appeared in ten FIFA World Cups, including the first in 1930, where they reached the semi-finals. The U.S. participated in the 1934 and 1950 World Cups, winning 1–0 against England in the latter. After 1950, the U.S. did not qualify for the World Cup until 1990. The U.S. qualified as host of the 1994 World Cup, where they lost to Brazil in the round of sixteen. They qualified for five more consecutive World Cups after 1994 (for a total of seven straight appearances, a feat shared with only seven other nations),[9] becoming one of the tournament's regular competitors and often advancing to the knockout stage. The U.S. reached the quarter-finals of the 2002 World Cup, where they controversially lost to Germany. In the 2009 Confederations Cup, they eliminated top-ranked Spain in the semi-finals
                        before losing to Brazil in the final, the team's only appearance in the final of a major intercontinental tournament.
                    </p-panel>
                </div>
                <div style="flex: 0.1">

                </div>
                <div style="flex: 0.2">
                    <button pButton type="button" label="Approve" class="p-button-success"></button>
                    <button pButton type="button" label="Reject" class="p-button-danger"></button>
                </div>
            </div>
            <div style="display:flex;flex-direction: row; flex: 1;margin-top: 2rem;">
                <div style="flex: 0.7">
                    <p-panel header="green-04" [toggleable]="true" collapsed="true">
                        The United States men's national soccer team (USMNT) represents the United States in men's international soccer competitions. The team is controlled by the United States Soccer Federation and is a member of FIFA and CONCACAF.

                        The team has appeared in ten FIFA World Cups, including the first in 1930, where they reached the semi-finals. The U.S. participated in the 1934 and 1950 World Cups, winning 1–0 against England in the latter. After 1950, the U.S. did not qualify for the World Cup until 1990. The U.S. qualified as host of the 1994 World Cup, where they lost to Brazil in the round of sixteen. They qualified for five more consecutive World Cups after 1994 (for a total of seven straight appearances, a feat shared with only seven other nations),[9] becoming one of the tournament's regular competitors and often advancing to the knockout stage. The U.S. reached the quarter-finals of the 2002 World Cup, where they controversially lost to Germany. In the 2009 Confederations Cup, they eliminated top-ranked Spain in the semi-finals
                        before losing to Brazil in the final, the team's only appearance in the final of a major intercontinental tournament.
                    </p-panel>
                </div>
                <div style="flex: 0.1">

                </div>
                <div style="flex: 0.2">
                    <button pButton type="button" label="Approve" class="p-button-success"></button>
                    <button pButton type="button" label="Reject" class="p-button-danger"></button>
                </div>
            </div>
            <div style="display:flex;flex-direction: row; flex: 1;margin-top: 2rem;">
                <div style="flex: 0.7">
                    <p-panel header="blues-02" [toggleable]="true" collapsed="true">
                        The United States men's national soccer team (USMNT) represents the United States in men's international soccer competitions. The team is controlled by the United States Soccer Federation and is a member of FIFA and CONCACAF.

                        The team has appeared in ten FIFA World Cups, including the first in 1930, where they reached the semi-finals. The U.S. participated in the 1934 and 1950 World Cups, winning 1–0 against England in the latter. After 1950, the U.S. did not qualify for the World Cup until 1990. The U.S. qualified as host of the 1994 World Cup, where they lost to Brazil in the round of sixteen. They qualified for five more consecutive World Cups after 1994 (for a total of seven straight appearances, a feat shared with only seven other nations),[9] becoming one of the tournament's regular competitors and often advancing to the knockout stage. The U.S. reached the quarter-finals of the 2002 World Cup, where they controversially lost to Germany. In the 2009 Confederations Cup, they eliminated top-ranked Spain in the semi-finals
                        before losing to Brazil in the final, the team's only appearance in the final of a major intercontinental tournament.
                    </p-panel>
                </div>
                <div style="flex: 0.1">

                </div>
                <div style="flex: 0.2">
                    <button pButton type="button" label="Approve" class="p-button-success"></button>
                    <button pButton type="button" label="Reject" class="p-button-danger"></button>
                </div>
            </div>
            <div style="display:flex;flex-direction: row; flex: 1;margin-top: 2rem;">
                <div style="flex: 0.7">
                    <p-panel header="blues-06" [toggleable]="true" collapsed="true">
                        The United States men's national soccer team (USMNT) represents the United States in men's international soccer competitions. The team is controlled by the United States Soccer Federation and is a member of FIFA and CONCACAF.

                        The team has appeared in ten FIFA World Cups, including the first in 1930, where they reached the semi-finals. The U.S. participated in the 1934 and 1950 World Cups, winning 1–0 against England in the latter. After 1950, the U.S. did not qualify for the World Cup until 1990. The U.S. qualified as host of the 1994 World Cup, where they lost to Brazil in the round of sixteen. They qualified for five more consecutive World Cups after 1994 (for a total of seven straight appearances, a feat shared with only seven other nations),[9] becoming one of the tournament's regular competitors and often advancing to the knockout stage. The U.S. reached the quarter-finals of the 2002 World Cup, where they controversially lost to Germany. In the 2009 Confederations Cup, they eliminated top-ranked Spain in the semi-finals
                        before losing to Brazil in the final, the team's only appearance in the final of a major intercontinental tournament.
                    </p-panel>
                </div>
                <div style="flex: 0.1">

                </div>
                <div style="flex: 0.2">
                    <button pButton type="button" label="Approve" class="p-button-success"></button>
                    <button pButton type="button" label="Reject" class="p-button-danger"></button>
                </div>
            </div>
            
          </div>
        </p-tabPanel>
        <p-tabPanel header="Approved Teams">
            <div style="display:flex;flex-direction: column; flex: 1;">
                <p-panel header="Mesa Warriors" [toggleable]="true" collapsed="true">
                    The United States men's national soccer team (USMNT) represents the United States in men's international soccer competitions. The team is controlled by the United States Soccer Federation and is a member of FIFA and CONCACAF.

                    The team has appeared in ten FIFA World Cups, including the first in 1930, where they reached the semi-finals. The U.S. participated in the 1934 and 1950 World Cups, winning 1–0 against England in the latter. After 1950, the U.S. did not qualify for the World Cup until 1990. The U.S. qualified as host of the 1994 World Cup, where they lost to Brazil in the round of sixteen. They qualified for five more consecutive World Cups after 1994 (for a total of seven straight appearances, a feat shared with only seven other nations),[9] becoming one of the tournament's regular competitors and often advancing to the knockout stage. The U.S. reached the quarter-finals of the 2002 World Cup, where they controversially lost to Germany. In the 2009 Confederations Cup, they eliminated top-ranked Spain in the semi-finals
                    before losing to Brazil in the final, the team's only appearance in the final of a major intercontinental tournament.
                    <div style="margin-top: 1rem;">
                        <button pButton type="button" label="more-info"></button>
                    </div>
                </p-panel>
                <div style="margin-top: 1rem;">
                    <p-panel header="Tempe Soccers Men" [toggleable]="true" collapsed="true">
                        The United States men's national soccer team (USMNT) represents the United States in men's international soccer competitions. The team is controlled by the United States Soccer Federation and is a member of FIFA and CONCACAF.
    
                        The team has appeared in ten FIFA World Cups, including the first in 1930, where they reached the semi-finals. The U.S. participated in the 1934 and 1950 World Cups, winning 1–0 against England in the latter. After 1950, the U.S. did not qualify for the World Cup until 1990. The U.S. qualified as host of the 1994 World Cup, where they lost to Brazil in the round of sixteen. They qualified for five more consecutive World Cups after 1994 (for a total of seven straight appearances, a feat shared with only seven other nations),[9] becoming one of the tournament's regular competitors and often advancing to the knockout stage. The U.S. reached the quarter-finals of the 2002 World Cup, where they controversially lost to Germany. In the 2009 Confederations Cup, they eliminated top-ranked Spain in the semi-finals
                        before losing to Brazil in the final, the team's only appearance in the final of a major intercontinental tournament.
                        <div style="margin-top: 1rem;">
                            <button pButton type="button" label="more-info"></button>
                        </div>
                    </p-panel>
                </div>
                <div style="margin-top: 1rem;">
                    <p-panel header="Arizona Terrace team" [toggleable]="true" collapsed="true">
                        The United States men's national soccer team (USMNT) represents the United States in men's international soccer competitions. The team is controlled by the United States Soccer Federation and is a member of FIFA and CONCACAF.
    
                        The team has appeared in ten FIFA World Cups, including the first in 1930, where they reached the semi-finals. The U.S. participated in the 1934 and 1950 World Cups, winning 1–0 against England in the latter. After 1950, the U.S. did not qualify for the World Cup until 1990. The U.S. qualified as host of the 1994 World Cup, where they lost to Brazil in the round of sixteen. They qualified for five more consecutive World Cups after 1994 (for a total of seven straight appearances, a feat shared with only seven other nations),[9] becoming one of the tournament's regular competitors and often advancing to the knockout stage. The U.S. reached the quarter-finals of the 2002 World Cup, where they controversially lost to Germany. In the 2009 Confederations Cup, they eliminated top-ranked Spain in the semi-finals
                        before losing to Brazil in the final, the team's only appearance in the final of a major intercontinental tournament.
                        <div style="margin-top: 1rem;">
                            <button pButton type="button" label="more-info"></button>
                        </div>
                    </p-panel>
                </div>
                <div style="margin-top: 1rem;">
                    <p-panel header="Team Thrive" [toggleable]="true" collapsed="true">
                        The United States men's national soccer team (USMNT) represents the United States in men's international soccer competitions. The team is controlled by the United States Soccer Federation and is a member of FIFA and CONCACAF.
    
                        The team has appeared in ten FIFA World Cups, including the first in 1930, where they reached the semi-finals. The U.S. participated in the 1934 and 1950 World Cups, winning 1–0 against England in the latter. After 1950, the U.S. did not qualify for the World Cup until 1990. The U.S. qualified as host of the 1994 World Cup, where they lost to Brazil in the round of sixteen. They qualified for five more consecutive World Cups after 1994 (for a total of seven straight appearances, a feat shared with only seven other nations),[9] becoming one of the tournament's regular competitors and often advancing to the knockout stage. The U.S. reached the quarter-finals of the 2002 World Cup, where they controversially lost to Germany. In the 2009 Confederations Cup, they eliminated top-ranked Spain in the semi-finals
                        before losing to Brazil in the final, the team's only appearance in the final of a major intercontinental tournament.
                        <div style="margin-top: 1rem;">
                            <button pButton type="button" label="more-info"></button>
                        </div>
                    </p-panel>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Other Applications">
            No Applications
        </p-tabPanel>
        <p-tabPanel header="Schedules Matches">
            <h3> Schedule matches between approved teams.</h3>
            <div style="margin-bottom: 1rem;"> Click below to schedule matches</div>
            <div style="display: flex; flex-direction: row;margin-bottom: 2rem;">
                <div style="display: flex; flex-direction: column;margin-right: 2rem;">
                    <h3>Home Team</h3>
                    <p-dropdown [(ngModel)]="teamA" [options]="teams" optionLabel="name"  optionValue="name"
                     placeholder="Select Home Team"></p-dropdown>
                </div>
                <div style="display: flex; flex-direction: column;margin-right: 2rem;">
                    <h3>Away Team</h3>
                    <p-dropdown [(ngModel)]="teamB" [options]="teams" optionLabel="name"  optionValue="name"
                     placeholder="Select Away Team"></p-dropdown>
                </div>
                <div style="display: flex; flex-direction: column;margin-right: 2rem;">
                    <h3>Date & Time</h3>
                    <p-calendar [(ngModel)]="dateTime" [showTime]="true" [showSeconds]="true" inputId="time" ></p-calendar>
                </div>
                <div style="display: flex; flex-direction: column;margin-right: 2rem;">
                    <h3>Location</h3>
                    <p-dropdown [(ngModel)]="location" [options]="locations" optionLabel="name"  optionValue="name"
                     placeholder="Select location"></p-dropdown>
                </div>
                <div style="display: flex;margin-right: 2rem;">
                    <button pButton type="button" label="Add Schedule" style="display: flex;justify-content: flex-end;"
                    (click)="addSchedule()"></button>
                </div>
            </div>
            <p-table [value]="schedule" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th>No.</th>
                        <th>Home Team</th>
                        <th>Away Team</th>
                        <th>Time</th>
                        <th>Location</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>{{product.no}}</td>
                        <td>{{product.teamA}}</td>
                        <td>{{product.teamB}}</td>
                        <td>{{product.time}}</td>
                        <td>{{product.location}}</td>
                    </tr>
                </ng-template>
            </p-table>
            
        </p-tabPanel>
    </p-tabView>
</div>