<div style="margin:80px">
    <h1 style="margin-left: 600px;">Tournament Rules</h1><br><br>
    <p-panel [toggleable]="true" collapsed="true">
        <ng-template pTemplate="header">
            1. Match Play
        </ng-template>
        a. All games will be played under FIFA Laws of the Game as
        modified by USYSA or Arizona Youth Soccer Association
        (“AYSA”) unless otherwise stated in these rules of competition.
        The Tournament Director or Site Representative will settle all
        disputes regarding the rules of competition. The Tournament
        Director may modify under extraordinary circumstances or in the
        best interest of the Tournament the Rules of Competition. <br><br>
        b. <b>Game Conclusion:</b> The Referee will have each team
        representative sign or initial the game report. The Referee will
        sign the game report and forward it to the Field
        Supervisor/Tournament Staff. The game report includes the
        score and the name / number / issue of any player / coach /
        individual receiving a red or yellow card. In the case of
        discrepancies, signed game reports shall prevail.  <br><br>
        c. Decisions made by Referees, once play has commenced,
        resumed or concluded, are not reversible. All Referee decisions
        pertaining to action on the field are final.<b>Tournament
        Representatives will not overrule, change or modify decisions
        made by the Referee. This includes the issuance of Red or
        Yellow Cards.</b><br><br><br><br>
        <div style="margin-left: 550px; color: red"><b>NO MATCH PROTESTS WILL BE CONSIDERED</b></div><br><br><br>
        d. <b>Injuries:</b> Team Managers and / or coaches should keep copies
        of player Medical Release Forms on hand at all games. In the
        event of an emergency, this form should accompany the player
        to the place of treatment. <br><br>
        e. <b>Possible Head Injury /Injury:</b> A Referee, Coach, Tournament
        Official or Medical Staff can remove a player from a game if
        they suspect a possible head injury or for an injury. If a player is
        removed from a game for a possible head injury, the player’s
        AYSA – USYSA pass will be retained and sent to AYSA. If a
        player is playing with a US Club Soccer or alternative pass /
        identification method, the player’s pass will be retained and
        returned to the team at the conclusion of the Tournament. The
        Referee is required by AYSA to document the possible head
        injury and fill out an online report through the GotSoccer
        platform. The absence of this report does not discount the
        possible head injury or circumvent AYSA, Tournament and
        Scottsdale Soccer policies and “Return to Play” guidelines. If a
        player’s pass is retained for a possible head injury, or there is a
        suspicion of a possible head injury, that player must
        immediately be removed from all soccer activities
        and CANNOT return to play in the Tournament without written
        medical clearance from a Medical Doctor (MD) or Doctor of
        Osteopathy (DO). This means ANY AND ALL soccer
        participants, including those governed by US Club Soccer or any
        other entity; league or governing body affiliation does NOT
        matter. This restriction to participation cannot be lifted without
        a written medical clearance regardless of the player’s observed condition, their insistence of “being alright” or even parental
        permission and regardless of the length of time it takes to receive
        medical clearance – <b>No Exceptions!</b><br><br>
        f. Game Start: Coaches should be prepared to start the game on
        time. <b>Five minutes</b> after the official game start time is forfeit
        time. In case of forfeit, the winning team shall be given a score
        of 1 - 0. Tournament officials may waive this rule if, in their
        opinion, it is in the best interests of the youths and / or the
        Tournament to play the game. In the event of a delay in the start
        of a game, the game will be shortened to allow the game to finish
        as scheduled. <br><br>
        
        g. The match durations shall be as follows: <br><br>
        <div style="margin-left: 500px">
            <table border="2px" style="border-collapse: collapse">
                <tr>
                    <th>Age Bracket</th>
                    <th>Halves (Each)</th>
                    <th>Half Time</th>
                    <th>Ball Size</th>
                </tr>
                <tr>
                    <td>U15 – U19</td>
                    <td>40 Minutes</td>
                    <td>5 Minutes</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>U13 – U14</td>
                    <td>35 Minutes</td>
                    <td>5 Minutes</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>U11 – U12</td>
                    <td>30 Minutes</td>
                    <td>5 Minutes</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>U9 – U10</td>
                    <td>25 Minutes</td>
                    <td>5 Minutes</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>U7 – U8</td>
                    <td>4-12 Minutes Quarters</td>
                    <td>None</td>
                    <td>3</td>
                </tr>
            </table>
        </div>
        <br><br>
        k. Forfeits:<br>
            <div style="margin-left: 20px">
                i. Teams failing to check-in ten (10) minutes prior to the
                start of the match may, at the discretion of the
                Tournament Committee, forfeit the match. To be
                awarded a forfeit win, the opposing team must be
                present and ready to play.<br>
                ii. In the event of a forfeit, the match score will be recorded
                as a 1 - 0 win in favor of the team not forfeiting.
            </div>
    </p-panel> <br>
    <p-panel [toggleable]="true" collapsed="true">
        <ng-template pTemplate="header">
            2. Player Eligibility
        </ng-template>
        a. Only players who are officially registered or loaned to a team
        may play in the Tournament. <br><br>
        b. All participating players, regardless of the number of games to
        be played, must be listed on the Official Team Roster prior to the
        start of the first game of the Tournament. <br><br>
        c. Official Team Rosters must be verified and approved by the
        Tournament Committee at the Pre-Tournament check-in prior to
        the start of the Tournament.<br><br>
        d. Without exception, players will not be allowed to play in a
        younger age bracket or for more than one (1) team in the
        Tournament.
    </p-panel>
     <br>
     <p-panel [toggleable]="true" collapsed="true">
        <ng-template pTemplate="header">
           3. Pre-Tournament Check-In
        </ng-template>
        a. All teams much provide player / coach credentials at the PreTournament check-in prior to the start of the Tournament. <br><br>
        b. Each team must send a representative to the Pre-Tournament
        check-in. For local teams, this check-in will be held a few days
        before the Tournament weekend. For out-of-area teams, a checkin will be scheduled for the Friday evening of the Tournament
        weekend. Please refer to the Tournament Website for details. <br><br>
        <b>c. Required Documentation:</b><br>
        <div style="margin-left: 20px">
            i. Birth Certificates for US Based players are not required.
            A copy of a Birth Certificate or current Passport is
            required for all Foreign Based players. Birth Certificates
            in foreign languages must be accompanied by an English
            translation. <br>
            ii. A copy of a signed Medical Release Form is required for
            each player. A Notarized copy of the Medical Release
            Form is required for out-of-state players as per the rules
            of the individual Clubs and / or their State Associations. <br>
            iii. All teams must provide laminated US Youth Soccer
            Association (“USYSA”) Player ID Cards with
            photographs. US Club Soccer teams must provide
            laminated US Club Soccer Player ID Cards with
            photographs. Teams cannot mix USYSA and US Club
            Soccer Player ID Cards. Recreational level teams,
            providing a certified roster signed by their Club
            Registrar, are exempt from this requirement. Approval
            by the Tournament Committee must be given, prior to
            check-in, for this exemption. <br>
            iv. Teams must update their roster in their GotSoccer
            Account or provide a written copy of the team’s roster.
            For each player, the roster must include: The first and
            last legal name as shown on their Birth Certificate, birth
            date and jersey number. <br>
            v. Player Loan Forms, properly signed by the required
            parties, must be submitted for each loan or guest player,
            as required by the team’s sanctioning organization.
            vi. Travel documents for out-of-state teams as required by
            their governing association. US Club Soccer teams and
            Arizona Youth Soccer Association Region IV teams are
            exempt from this requirement. Teams are encouraged to fax or email travel documents prior to arriving to the
            Tournament. <br>
            vii. During the check-in process, the Tournament Committee
            will inspect all documentation, specifically comparing
            birthdates and names between documents. After
            completion of check-in, player passes will be bound (via
            zip tie) for the duration of the Tournament. If, during
            the course of the Tournament, a team’s player passes are
            found to be unbound, the team may be required to repeat
            the check-in process before the next match. <br>
            viii.No players will be allowed to play without the above
            documentation.
        </div>
    </p-panel>
     <br>
     <p-panel [toggleable]="true" collapsed="true">
        <ng-template pTemplate="header">
            4. Guest Players
        </ng-template>
        Unlimited club players (players within the same club) can guest on to a
        team within the same age group.<br><br>
        <div style="margin-left: 20px">
            a. U12 and younger - a maximum of 4 players from outside the
            club can guest play on a team within the same age group.<br><br>
            b. U13 and older – a maximum of 5 players from outside the
            club can guest play on a team within the same age group.
        </div>
    </p-panel>
     <br>
     <p-panel [toggleable]="true" collapsed="true">
        <ng-template pTemplate="header">
            5. Pre-Match Check-In
        </ng-template>
        a. Teams must present themselves at the field to the Referee or
        Field Supervisor (if applicable), for purposes of checking-in, a
        minimum of thirty (30) minutes prior to the start of each
        scheduled game. <br><br>
        b. Player passes, properly bound during Pre-Tournament
        credentials check-in, must be presented. <br><br>
        c. The Referee or Field Supervisor/Tournament staff will review
        each pass, comparing the photograph with the player, to ensure
        that only eligible players are participating. <br><br>
        d. The Referee or Field Supervisor/Tournament staff will inspect
        the equipment of each player, including uniform, shin guards
        (mandatory) and cleats, to ensure the safety of all players.
        Cleats are not required. Toe cleats, found on many baseball
        shoes, are not allowed. Metal cleats of any type are also not
        allowed. <br><br>
        e. Players will not be allowed to wear jewelry of any kind,
        including wrist bands, necklaces, bracelets, rings, earrings).
        Bracelets are defined as any object encircling the wrist or arm.
        Exception: Medical Alert bracelets or necklace. These must be
        taped down. Taping of earrings/studs is NOT considered an
        exception. These must be removed. <br><br>
        f. Hair control pieces made of metal, plastic or other hard material
        are not allowed. <br><br>
        g. Players with splints, casts, braces or other such devices may
        participate, if, in the opinion of the Referee, these devices do not
        present an inherent danger to any players.
    </p-panel>
     <br>
     
     <br>

</div>