

    <div style="display: flex;width: 100%;height: 100%; justify-content: center;background-image: url(./assets/bg.jpg);
    background-repeat:no-repeat;background-size: cover ; ">
        <div style="display: flex;align-items: center;flex-direction: column ;width:25%;font-size: 34px;">
            <div style="border-radius: 50%;display: flex; padding: 2rem;justify-content: center;align-items: center; border: 3px solid black">
                <i class="pi pi-user" style="font-size: 100px;" ></i><br>
            </div>
       
        <div style="padding-top: 1rem;">
            Firstname: <input type="text" placeholder="Firstname" pInputText  name="Firstname">
        </div>
        <div  style="padding-top: 1rem;">
            Lastname: <input type="password" placeholder="Lastname" pInputText name="Lastname">
        </div>
        <div  style="padding-top: 1rem;">
            Age: <input type="number" placeholder="Age" pInputText name="Age">
        </div>
        <div  style="padding-top: 1rem;">
            Email: <input type="email" placeholder="Email" pInputText name="email">
        </div>
        <div  style="padding-top: 1rem;">
            Password: <input type="password" placeholder="Password" pInputText name="Password">
        </div>
        <div  style="padding-top: 1rem;">
            Confirm Password: <input type="password" placeholder="Confirm Password" pInputText name="CPassword">
        </div>
        <div  style="padding-top: 1rem;">
            <button pButton type="button" label="Signup" style="font-size: 24px;"  ></button>
            <button pButton type="button" label="Reset" style="margin-left:2rem;font-size: 24px;"  ></button>
        </div>
    </div>
    
    </div>
    
    