<div style="display: flex; flex-direction: column; padding: 1rem;">
    <h1>Registrations for Coach are open. To apply <a routerLink="/">click here.</a></h1>
    <h3>Note : Coach registration applications are approved by Coach director. Will receive Coach ID once approved</h3>
</div>


<div style="display: flex; flex-direction: column; padding: 1rem;">
    <h1>Registrations for Team to participate in tournament are open. To apply <a routerLink="/">click here.</a></h1>
    <h3>Note : Team registration applications are approved by Tournament director. Will receive Team ID once approved</h3>
</div>

