<br><br>
<div [style]="{'margin': '1em'}">
<div style="display: flex; flex-direction: row;justify-content: space-between;">
  <div>
<p-card header="Alisson Ramses Becker" [style]="{width: '360px'}" styleClass="p-card-shadow">
  <ng-template pTemplate="header">
      <img src="./assets/allison.jpg" [style]="{height: '250px'}">
  </ng-template>

  <ng-template pTemplate="footer">
    
<br>
Position: GOAL-KEEPER
<br>

Born: October 2, 1992 (Age: 28-364d) in Novo Hamburgo, Brazil br

National Team: Brazil br
<br>
Club: Liverpool
<br>
Twitter: @Alissonbecker
<br>
Instagram: @alissonbecker
    
  </ng-template>
</p-card>
</div>
<div >
<p-card header="Virgil van Dijk " [style]="{width: '360px'}" styleClass="p-card-shadow">
<ng-template pTemplate="header">
    <img src="./assets/vandik1.jpg" [style]="{height: '250px'}">
</ng-template>
<ng-template pTemplate="footer">
    
Position: DEFENDER
<br>

Born: July 8, 1991 (Age: 30-085d) in Breda, Netherlands nl
<br>
National Team: Netherlands nl
<br>
Club: Liverpool
<br>
Twitter: @VirgilvDijk
<br>
Instagram: @virgilvandijk
  
</ng-template>
</p-card>
</div>
<p-card header="Trent Alexander-Arnold " [style]="{width: '360px'}" styleClass="p-card-shadow" >
  <ng-template pTemplate="header">
      <img src="./assets/arnold.jpg" [style]="{height: '250px'}">
  </ng-template>
<br>
  Position: MID-FIELDER
<br>

Born: October 7, 1998 (Age: 22-359d) in Liverpool, England, United Kingdom eng
<br>
National Team: England eng
<br>

Club: Liverpool
<br>
Twitter: @TrentAA
<br>
Instagram: @trentarnold66
  <ng-template pTemplate="footer">
  </ng-template>
  </p-card>

  <p-card header="Mohamed Salah Ghalycurrent " [style]="{width: '360px'}" styleClass="p-card-shadow" >
    <ng-template pTemplate="header">
        <img src="./assets/salah.jpg" [style]="{height: '250px'}">
    </ng-template>
    Name: Mohamed SalahFull Name: Mohamed Salah GhalyCurrent Team: LiverpoolShirt Number: 11Age: 29 years old (15-06-1992)Height: 175cmNationality: EgyptPositions: Attacking Midfielder (Centre, Left, Right), Forward
    <ng-template pTemplate="footer">
    </ng-template>
    </p-card>
</div>
</div>

<br><br>
<div [style]="{'margin': '1em'}">
<div style="display: flex; flex-direction: row;justify-content: space-between;">
  <div>
<p-card header="Thiago Alcantara" [style]="{width: '360px'}" styleClass="p-card-shadow">
  <ng-template pTemplate="header">
      <img src="./assets/thiago.jpg" [style]="{height: '250px'}">
  </ng-template>

  <ng-template pTemplate="footer">
    
    Name: ThiagoFull Name: Thiago Alcántara do NascimentoCurrent Team: LiverpoolShirt Number: 6Age: 30 years old (11-04-1991)Height: 174cmNationality: SpainPositions: Midfielder (Centre)
    
  </ng-template>
</p-card>
</div>
<div >
<p-card header="Paul Pogba " [style]="{width: '360px'}" styleClass="p-card-shadow">
<ng-template pTemplate="header">
    <img src="./assets/pogba.jpg" [style]="{height: '250px'}">
</ng-template>
<ng-template pTemplate="footer">
    
  Name: Paul PogbaCurrent Team: Manchester UnitedShirt Number: 6Age: 28 years old (15-03-1993)Height: 191cmNationality: France
</ng-template>
</p-card>
</div>
<p-card header="Thiago Silva " [style]="{width: '360px'}" styleClass="p-card-shadow" >
  <ng-template pTemplate="header">
      <img src="./assets/silva.jpg" [style]="{height: '250px'}">
  </ng-template>
  Name: Thiago SilvaFull Name: Thiago Emiliano da SilvaCurrent Team: ChelseaShirt Number: 6Age: 37 years old (22-09-1984)Height: 183cmNationality: BrazilPositions: Defender (Centre)
  <ng-template pTemplate="footer">
  </ng-template>
  </p-card>

  <p-card header="Romelu Lukaku " [style]="{width: '360px'}" styleClass="p-card-shadow" >
    <ng-template pTemplate="header">
        <img src="./assets/lukaku.jpg" [style]="{height: '250px'}">
    </ng-template>
  <br>
  Name: Romelu LukakuCurrent Team: ChelseaShirt Number: 9Age: 28 years old (13-05-1993)Height: 190cmNationality: Belgium Positions: Attacking Midfielder (Right), Forward
    <ng-template pTemplate="footer">
    </ng-template>
    </p-card>
</div>
</div>
<br><br>
<div [style]="{'margin': '1em'}">
<div style="display: flex; flex-direction: row;justify-content: space-between;">
  <div>
<p-card header="Adama Traore" [style]="{width: '360px'}" styleClass="p-card-shadow">
  <ng-template pTemplate="header">
      <img src="./assets/adama.jpg" [style]="{height: '250px'}">
  </ng-template>

  <ng-template pTemplate="footer">
    
<br>
Name: Adama TraoréCurrent Team: Wolverhampton WanderersShirt Number: 37Age: 25 years old (25-01-1996)Height: 178cmNationality: Spain
    
  </ng-template>
</p-card>
</div>
<div >
<p-card header="Jimmy Vardy " [style]="{width: '360px'}" styleClass="p-card-shadow">
<ng-template pTemplate="header">
    <img src="./assets/vardy.jpg" [style]="{height: '250px'}">
</ng-template>
<ng-template pTemplate="footer">
    
  Name: Jamie VardyCurrent Team: LeicesterShirt Number: 9Age: 34 years old (11-01-1987)Height: 179cmNationality: England Positions: Attacking Midfielder (Left), Forward
  
</ng-template>
</p-card>
</div>
<p-card header="Ivan Toney " [style]="{width: '360px'}" styleClass="p-card-shadow" >
  <ng-template pTemplate="header">
      <img src="./assets/tony.jpg" [style]="{height: '250px'}">
  </ng-template>
<br>
Name: Ivan ToneyCurrent Team: BrentfordShirt Number: 17Age: 25 years old (16-03-1996)Height: 179cmNationality: England Positions: Forward
  <ng-template pTemplate="footer">
  </ng-template>
  </p-card>

  <p-card header="Rodri " [style]="{width: '360px'}" styleClass="p-card-shadow" >
    <ng-template pTemplate="header">
        <img src="./assets/rodri.jpg" [style]="{height: '250px'}">
    </ng-template>
  <br>
  Name: RodriFull Name: Rodrigo Hernández CascanteCurrent Team: Manchester CityShirt Number: 16Age: 25 years old (22-06-1996)Height: 191cmNationality: SpainPositions: Defensive Midfielder (C)
    <ng-template pTemplate="footer">
    </ng-template>
    </p-card>
</div>
</div>

<br><br>
<div [style]="{'margin': '1em'}">
<div style="display: flex; flex-direction: row;justify-content: space-between;">
  <div>
<p-card header="Alisson Ramses Becker" [style]="{width: '360px'}" styleClass="p-card-shadow">
  <ng-template pTemplate="header">
      <img src="./assets/allison.jpg" [style]="{height: '250px'}">
  </ng-template>

  <ng-template pTemplate="footer">
    
<br>
Position: GOAL-KEEPER
<br>

Born: October 2, 1992 (Age: 28-364d) in Novo Hamburgo, Brazil br

National Team: Brazil br
<br>
Club: Liverpool
<br>
Twitter: @Alissonbecker
<br>
Instagram: @alissonbecker
    
  </ng-template>
</p-card>
</div>
<div >
<p-card header="Ilkay Gündogan " [style]="{width: '360px'}" styleClass="p-card-shadow">
<ng-template pTemplate="header">
    <img src="./assets/gundagon.jpg" [style]="{height: '250px'}">
</ng-template>
<ng-template pTemplate="footer">
    
  Name: Ilkay GündoganCurrent Team: Manchester CityShirt Number: 8Age: 30 years old (24-10-1990)Height: 180cmNationality: Germany
  
</ng-template>
</p-card>
</div>
<p-card header="Kyle Walker " [style]="{width: '360px'}" styleClass="p-card-shadow" >
  <ng-template pTemplate="header">
      <img src="./assets/WALKER.jpg" [style]="{height: '250px'}">
  </ng-template>
<br>
Name: Kyle WalkerCurrent Team: Manchester CityShirt Number: 2Age: 31 years old (28-05-1990)Height: 178cmNationality: England Positions: Defender (Centre, Right), Midfielder (Right)
  <ng-template pTemplate="footer">
  </ng-template>
  </p-card>

  <p-card header="Kevin De Bruyne " [style]="{width: '360px'}" styleClass="p-card-shadow" >
    <ng-template pTemplate="header">
        <img src="./assets/kevin.jpg" [style]="{height: '250px'}">
    </ng-template>
  <br>
  Name: Kevin De BruyneCurrent Team: Manchester CityShirt Number: 17Age: 30 years old (28-06-1991)Height: 181cmNationality: BelgiumPositions: Midfielder (Centre, Left, Right), Forward
    <ng-template pTemplate="footer">
    </ng-template>
    </p-card>
</div>
</div>



