<br><br>
<div [style]="{'margin': '1em'}">
<div style="display: flex; flex-direction: row;justify-content: space-between;">
  <div>
<p-card header="Alisson Ramses Becker" [style]="{width: '360px'}" styleClass="p-card-shadow">
  <ng-template pTemplate="header">
      <img src="./assets/allison.jpg" [style]="{height: '250px'}">
  </ng-template>

  <ng-template pTemplate="footer">
    
<br>
Position: GOAL-KEEPER
<br>

Born: October 2, 1992 (Age: 28-364d) in Novo Hamburgo, Brazil br

National Team: Brazil br
<br>
Club: Liverpool
<br>
Twitter: @Alissonbecker
<br>
Instagram: @alissonbecker
    
  </ng-template>
</p-card>
</div>
<div >
<p-card header="Virgil van Dijk " [style]="{width: '360px'}" styleClass="p-card-shadow">
<ng-template pTemplate="header">
    <img src="./assets/vandik1.jpg" [style]="{height: '250px'}">
</ng-template>
<ng-template pTemplate="footer">
    
Position: DEFENDER
<br>

Born: July 8, 1991 (Age: 30-085d) in Breda, Netherlands nl
<br>
National Team: Netherlands nl
<br>
Club: Liverpool
<br>
Twitter: @VirgilvDijk
<br>
Instagram: @virgilvandijk
  
</ng-template>
</p-card>
</div>
<p-card header="Trent Alexander-Arnold " [style]="{width: '360px'}" styleClass="p-card-shadow" >
  <ng-template pTemplate="header">
      <img src="./assets/arnold.jpg" [style]="{height: '250px'}">
  </ng-template>
<br>
  Position: MID-FIELDER
<br>

Born: October 7, 1998 (Age: 22-359d) in Liverpool, England, United Kingdom eng
<br>
National Team: England eng
<br>

Club: Liverpool
<br>
Twitter: @TrentAA
<br>
Instagram: @trentarnold66
  <ng-template pTemplate="footer">
  </ng-template>
  </p-card>

</div>
</div>

