<div style="padding: 2rem; display: flex; flex-direction: column;width:80%;margin:0 auto"
 *ngIf="flag">
    <p-table [value]="teamApplications" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th>Code</th>
                <th>Team/Location</th>
                <th>Coach</th>
                <th>Primary Color</th>
                <th>Schedule</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product  >
            <tr *ngIf="product.approved">
                <td>A{{product.teamId}}</td>
                <td>{{product.teamname}}</td>
                <td>{{product.coachname}}</td>
                <td>{{product.primaryjerseycolor}}</td>
                <td> <button pButton type="button" label="See Schedule" 
                    (click)="seeSchedule(product.teamname)"></button></td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div style="padding: 2rem; display: flex; flex-direction: column;width:80%;margin:0 auto"
 *ngIf="!flag">
    <p-table [value]="schedule" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th>No.</th>
                <th>Team1</th>
                <th>Team2</th>
                <th>Time</th>
                <th>Location</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{product.no}}</td>
                <td>{{product.teamA}}</td>
                <td>{{product.teamB}}</td>
                <td>{{product.time}}</td>
                <td>{{product.location}}</td>
            </tr>
        </ng-template>
    </p-table>
    <div style="margin-top: 1rem;">
        <button pButton type="button" label="Back to Teams" 
                    (click)="back()"></button>
    </div>
</div>